<div class="container">
  <div class="card h-100">
    <div class="card-body">
      <div class="row gutters">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
          <label>Select Date Range: </label>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
              <mat-form-field>
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerFrom" [formControl]="dateControl"
                  placeholder="Choose Start Date" (dateChange)="startDateChanged($event)">
                <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                <mat-datepicker #pickerFrom></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
              <mat-form-field>
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerTo" [formControl]="dateControl"
                  placeholder="Choose End Date" (dateChange)="endDateChanged($event)">
                <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                <mat-datepicker #pickerTo></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
          <label>General Filter: </label>
          <input type="text" id="generalFilter" class="form-control" placeholder="Enter Keyword"
            [(ngModel)]="generalFilter" appNoSpecialCharacters/>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
          <button class="btn btn--secondary btn--general-cta" (click)="onDateClick()"> <span>GO</span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="card h-100">
    <div class="card-body">
      <div class="row gutters">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
          <mat-form-field mat-raised-button>
            <mat-label>Column Setting</mat-label>
            <mat-select [formControl]="toppings" multiple (selectionChange)="updateColumn($event)"
              [(value)]="columnsToDisplay">
              <mat-option *ngFor="let topping of displayedColumns" [value]="topping">
                <span *ngIf="topping==='selectall'" (click) = 'selectAllCheckbox($event)'>{{topping}}</span>
                <span *ngIf="topping!=='selectall'">{{topping}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
          <mat-form-field>
            <mat-label>Sort By</mat-label>
            <mat-select [formControl]="sortBySelected" (selectionChange)="sortByColumn($event.value)"
              [(ngModel)]="selectedSortValue">
              <mat-option>Clear</mat-option>
              <mat-option *ngFor="let topping of columnsToDisplay" [value]="topping">{{topping}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
          </mat-form-field>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item
              (click)="exporter.exportTable('xlsx', {fileName:'Userlist', sheet: 'list', Props: {Author: 'System'}})">
              <mat-icon>file_download</mat-icon>
              <span>Export as Excel</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  <div class="card h-100">
    <div class="card-body">
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <table matTableExporter mat-table [dataSource]="data" class="mat-elevation-z8" matSort matSortActive="created"
            matSortDisableClear matSortDirection="desc" #exporter="matTableExporter">
            <ng-container [matColumnDef]="column.field" *ngFor="let column of columns">
              <th mat-header-cell *matHeaderCellDef>
                <span *ngIf="column.field === 'selectall'"><mat-checkbox></mat-checkbox>{{column.header}}</span>
                <span *ngIf="column.field !== 'selectall'">{{column.header}}</span>
              </th>
              <td mat-cell *matCellDef="let element">
                <span *ngIf="column.field !== 'email' && column.field === 'selectall'"><mat-checkbox></mat-checkbox>
                </span>
                <span *ngIf="column.field !== 'email' && column.field === 'serial_number'" (click)="isSelected(element)"
                  class="serialNumber"> {{element[column.field]}}
                </span>
                <span *ngIf="column.field === 'email'"><a href="mailto:{{element[column.field]}}">
                    {{element[column.field]}}<mat-icon>email</mat-icon></a>
                </span>
                <span *ngIf="column.field !== 'email' && column.field !== 'serial_number'">
                  {{element[column.field]}}
                </span>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" mat-row></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of UserListData">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>