.error-message {
    color: red;
}

.info {
    font-size: small;
}

.actionBtn {
    background-color: #1c1c1d;
    border: 4px solid #1c1c1d !important;
    color: #fff;
    padding: 0 10px;
    font-weight: bold;
}

.form-check-label {
    display: inline;
}

input[type="radio"]:checked+label {
    font-weight: bold;
}
.customAlert{
    font-weight: bold;
    font-size: var(--h4-size);
}