<div class="row" *ngIf="successHide">
    <div class="col-12">
        <div *ngIf="success" class="alert alert-success">{{success}}</div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </div>
</div>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img [src]="profileImage" alt="Avatar">
                                </div>
                                <label for="profilePicture">Profile Picture:<span
                                        class="requiredAsterisk">*</span></label>
                                <input type="file" id="profilePicture" (change)="onFileChange($event)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters mb-3">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h4 class="mb-2 text-primary">Personal Details</h4>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="firstname">First Name:<span class="requiredAsterisk">*</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="text" class="form-control" id="firstname" placeholder="Enter first name"
                                    [(ngModel)]="userDetails.first_name" name="first_name"/>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="lastname">Last Name:<span class="requiredAsterisk">*</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="url" class="form-control" id="lastname" placeholder="Enter Last Name"
                                    [(ngModel)]="userDetails.last_name" name="last_name"/>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="racername">Nick Name:<span class="requiredAsterisk">*</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="text" class="form-control" id="racername" placeholder="Enter Nick Name"
                                    [(ngModel)]="userDetails.racer_name" name="racer_name"/>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="birthdate">Birth Date:<span class="requiredAsterisk">*</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <mat-form-field>
                                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dob"
                                        [formControl]="dateControl" placeholder="Choose Birth Date"
                                        (dateChange)="endDateChanged($event)" class="form-control">
                                    <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                                    <mat-datepicker #dob></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row gutters mb-3">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h4 class="mt-3 mb-2 text-primary">Address</h4>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="address1">Address Line 1:<span class="requiredAsterisk">*</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="text" class="form-control" id="address1" placeholder="Enter Address 1"
                                    [(ngModel)]="userDetails.address1" name="address1"/>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="address2">Address Line 2</label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="text" class="form-control" id="address2" placeholder="Enter Address 2"
                                    [(ngModel)]="userDetails.address2" name="address2"/>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="city">City:<span class="requiredAsterisk">*</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="text" class="form-control" id="city" placeholder="Enter City"
                                    [(ngModel)]="userDetails.city" name="city"/>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="state">State:<span class="requiredAsterisk">*</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="text" class="form-control" id="state" placeholder="Enter State"
                                    [(ngModel)]="userDetails.state" name="state"/>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="zipcode">Postal Code:<span class="requiredAsterisk">*</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="text" class="form-control" id="zipcode" placeholder="Zip Code"
                                    [(ngModel)]="userDetails.zipcode" name="zipcode"/>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="zipcode">Country:<span class="requiredAsterisk">*</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="text" class="form-control" id="zipcode" placeholder="Zip Code"
                                    [(ngModel)]="userDetails.zipcode" name="zipcode"/>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="email">Email:<span class="requiredAsterisk">*</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="email" class="form-control" id="email" placeholder="Enter Email ID"
                                    [(ngModel)]="userDetails.email" name="email"/>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="tel">Mobile Phone: <span class="requiredAsterisk">*</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="text" class="form-control" id="tel" placeholder="Enter Mobile Phone"
                                    [(ngModel)]="userDetails.tel" name="tel"/>
                            </div>
                        </div>

                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="address1">How Did You Hear About Us?:<span class="requiredAsterisk">*</span>
                                </label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="text" class="form-control" id="address1" placeholder="Enter Address 1"
                                    [(ngModel)]="userDetails.address1" name="address1"/>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="address2">I'm Here For: <span class="requiredAsterisk">*</span></label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="text" class="form-control" id="address2" placeholder="Enter Address 2"
                                    [(ngModel)]="userDetails.address2" name="address2"/>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="city">Are you active or retired Military?</label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="text" class="form-control" id="city" placeholder="Enter City"
                                    [(ngModel)]="userDetails.city" name="city"/>
                            </div>
                        </div>
                        <div class="row gutters mb-3">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h4 class="mt-3 mb-2 text-primary">If Yes: </h4>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="state">Where Have You Served/Currently Serving In The Military?</label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="text" class="form-control" id="state" placeholder="Enter State"
                                    [(ngModel)]="userDetails.state" name="state"/>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="zipcode">How Long Have You Served/Been Serving? </label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="text" class="form-control" id="zipcode" placeholder="Zip Code"
                                    [(ngModel)]="userDetails.zipcode" name="zipcode"/>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="zipcode"> What Is Your Rank? </label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="text" class="form-control" id="zipcode" placeholder="Zip Code"
                                    [(ngModel)]="userDetails.zipcode" name="zipcode"/>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="email">Are You Active Or Retired Law Enforcement? </label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="email" class="form-control" id="email" placeholder="Enter email ID"
                                    [(ngModel)]="userDetails.email" name="email"/>
                            </div>
                        </div>
                        <div class="row gutters mb-3">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h4 class="mt-3 mb-2 text-primary">If Yes: </h4>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="tel">Where Have You Served/Currently Serving In The Law Enforcement?</label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="text" class="form-control" id="tel" placeholder="Enter phone number"
                                    [(ngModel)]="userDetails.tel" name="tel"/>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="tel2">How Long Have You Served/Been Serving? </label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="text" class="form-control" id="tel2" placeholder="Enter phone number"
                                    [(ngModel)]="userDetails.tel2" name="tel2"/>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <label for="tel2">What Is Your Rank? </label>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <input type="text" class="form-control" id="tel2" placeholder="Enter phone number"
                                    [(ngModel)]="userDetails.tel2" name="tel2"/>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <input name="rulesandregulation" type="checkbox" class="form-control form-check-input"
                                    value="" id="rulesandregulation"/>
                                <label class="form-check-label" for="rulesandregulation">
                                    I Agree To The Waiver/Rules And Regulation Link
                                </label>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <input name="consenttoemail" type="checkbox" class="form-control form-check-input"
                                    value="" id="consenttoemail"/>
                                <label class="form-check-label" for="consenttoemail">
                                    Please Email Me My Results And Special Offers.
                                </label>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                                        <label class="form-check-label" for="promocode">
                                            Promo:
                                        </label>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                        <input name="promocode" type="text" class="form-control" id="promocode"/>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <button id="submit" name="submit" type="submit"
                                        [disabled]="registrationForm.invalid"
                                        class="btn btn--secondary btn--general-cta">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>